button {
  margin-right: 10px;
  border-radius: 5px;
  border: 1px solid black;
}

.l {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;

}

h1 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 30px;

}

h2 {
  margin-left: 110px;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 30px;
  margin-top: 20px;
}

.btnpers {
  color: black;
  border-color: pink;
}

.btnpers:hover {
  color: black;
  background-color: pink;
  border-color: pink;
}

.btnpers:active {
  color: black;
  background-color: pink;
  border-color: pink;
}

.li {
  padding: 5px;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;

}

.b {
  margin-right: 20px;
}

.inp {
  margin-right: 10px;
}

.em {
  margin: 5px;
}

.comprado {
  text-decoration: line-through;
  color: rgb(0, 0, 0);
}

.cardA {
  background-color: rgba(250, 229, 233, 0.788);
  margin: 10px;
}